
Task2/.vs/Task2/v16/Server/sqlite3/db.lock
Task2/.vs/Task2/v16/Server/sqlite3/storage.ide
Task2/.vs/Task2/v16/Server/sqlite3/storage.ide-shm
Task2/.vs/Task2/v16/Server/sqlite3/storage.ide-wal
/Task2/.vs/AsyncModel/v16/Server/sqlite3/db.lock
/Task2/.vs/AsyncModel/v16/Server/sqlite3/storage.ide
/Task2/.vs/AsyncModel/v16/Server/sqlite3/storage.ide-shm
/Task2/.vs/AsyncModel/v16/Server/sqlite3/storage.ide-wal
AsyncModel/.vs/AsyncModel/v16/Server/sqlite3/db.lock
